<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee, http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UtilityManagement</display-name>
 <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>Registration.jsp</welcome-file>
		<welcome-file>resetPassword.jsp</welcome-file>
	</welcome-file-list>
<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditImageServlet</servlet-name>
		<display-name>EditImageServlet</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.EditImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageDeleteServlet</servlet-name>
		<display-name>ImageDeleteServlet</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.ImageDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageFetcherServlet</servlet-name>
		<display-name>ImageFetcherServlet</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.ImageFetcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<display-name>ImageServlet</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PasswordResetServlet</servlet-name>
		<display-name>PasswordResetServlet</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.PasswordResetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServletNew</servlet-name>
		<display-name>ImageServletNew</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.ImageServletNew</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditImageServletNew</servlet-name>
		<display-name>EditImageServletNew</display-name>
		<description></description>
		<servlet-class>com.nagarro.controller.EditImageServletNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditImageServlet</servlet-name>
		<url-pattern>/EditImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageDeleteServlet</servlet-name>
		<url-pattern>/ImageDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageFetcherServlet</servlet-name>
		<url-pattern>/ImageFetcherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordResetServlet</servlet-name>
		<url-pattern>/PasswordResetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServletNew</servlet-name>
		<url-pattern>/ImageServletNew</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditImageServletNew</servlet-name>
		<url-pattern>/EditImageServletNew</url-pattern>
	</servlet-mapping>


</web-app>