<!-- <p>showresult works!</p> -->
<div class="container">
    
<a routerLink="/loginpage">Back</a>


<div class="show">
    <h3>Result</h3>
    <div class="row mb-3">
        <span class="form-span col-6 left">Roll No. : </span>
        <span class="col-6 right">{{record.roll}}</span>
    </div>
    <div class="row mb-3">
        <span class="form-span col-6 left">Name : </span>
        <span class="col-6 right">{{record.name}}</span>
    </div>
    <div class="row mb-3">
        <span class="form-span col-6 left">Date of Birth : </span>
        <span class="col-6 right">{{record.dob}}</span>
    </div>
    <div class="row">
        <span class="form-span col-6 left">Score : </span>
        <span class="col-6 right">{{record.score}}</span>
    </div>

</div>
</div>